*{
  font-family: Raleway,sans-serif;
}

#content{
  background-color: #8db37d;
  position: relative;
  width: 1000px;
  height: 540px;
  text-align: center;
}

.cancha{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 20px;
  border: 2px solid white;
}

.arcoLeft{
  left: 0;
  border-width: 2px;
  border-left: 0;
}

.arcoRight{
  right: 0;
  border-width: 2px;
  border-right: 0;
}

.rectangule{
  box-sizing: border-box;
  position: absolute;
  width: 130px;
  height: 250px;
  top: 125px;
  border-style: solid;
  border-color: white;
}

.circule-center{
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  top: 220px;
  border: 2px solid white;
  border-radius: 50%;
}

.ball1{
  top: -2px;
  right: -10px;
}

.ball2{
  top: 80px;
  left: 40%;
}

.ball3{
  bottom: 5px;
  left: -15px;
}

.balls{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}

.texto{
  position: absolute;
  bottom: 2px;
  right: 20px;
  margin: 0;
  color: rgb(9, 8, 46);
  font-size: 14px;
}
