*{
  font-family: Raleway,sans-serif;
}

#content{
  background-color: #8db37d;
  position: relative;
  width: 990px;
  height: 540px;
  text-align: center;
}

.cancha{
  position: absolute;
  margin: 25px;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid white;
}

.rectangule{
  box-sizing: border-box;
  position: absolute;
  width: 130px;
  height: 250px;
  top: 125px;
  border: 1px solid white;
}

.arcoLeft{
  left: 0;
}

.arcoRight{
  right: 0;
}

.circule{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 429px;
  top: 190px;
  border: 1px solid white;
  border-radius: 50px;
}

.balon{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}

.balon1{
  top: -2px;
  right: -10px;
}

.balon2{
  top: 106px;
  left: 46%;
}
.balon3{
  bottom: 5px;
  left: -15px;
}

.info{
  position: absolute;
  bottom: 2px;
  right: 25px;
  color: rgb(9, 8, 46);
  font-size: 14px;
  font-weight: bold;
}
